body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.parking-spot {
  font-size: 2em;
  border: solid rgb(175, 171, 171);
  height: 8em;
  width: 8em;
  text-align: center;
  line-height: 8em;
}

.occupied {
  background: #EF5350
}

.free {
  background: #66BB6A
}